@using StudentskaSluzba.ViewModels
@model StudentVM

<div>
    <div class="container">
        <h4 class="bg-success text-white p-3">Dodaj studenta</h4>
        <div asp-validation-summary="ModelOnly"></div>
        <form class="p-2" method="post" asp-action="AddEdit">
            <input asp-for="Id" hidden />

            <div class="form-group">
                <label>Ime</label>
                <input asp-for="Ime" type="text" class="form-control" placeholder="Ime">
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="">Prezime</label>
                <input asp-for="Prezime" type="text" class="form-control" id="" placeholder="Prezime">
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Datum rođenja</label>
                <input asp-for="@Model.DatumRodjenja" type="date" class="form-control" />
                <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="">Adresa</label>
                <input asp-for="AdresaStanovanja" type="text" class="form-control" placeholder="Adresa">
                <span asp-validation-for="AdresaStanovanja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="">JMBG</label>
                <input asp-for="JMBG" type="text" class="form-control" placeholder="JMBG">
                <span asp-validation-for="JMBG" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Unesite email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Grad</label>
                <select asp-for="GradId" asp-items="Model.Opcine" class="form-control">
                </select>
                <span asp-validation-for="GradId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Godina studija</label>
                <select asp-for="GodinaStudijaId" asp-items="Model.GodineStudija" class="form-control">
                </select>
                <span asp-validation-for="GodinaStudijaId" class="text-danger"></span>
            </div>

            <input type="submit" class="btn btn-success" value="Spasi promjene" />
            <a asp-action="Index" class="btn btn-success">Nazad</a>
        </form>
    </div>
</div>
